# 1. Copy this to ~/.config/systemd/user/cliphist.service
# 2. Use ~/.config/autostart/cliphist.desktop on desktop environment startup
#      - systemctl --user disable --now cliphist
# 3. journalctl -b --user -u cliphist.service -f / systemctl --user status cliphist

[Unit]
Description=Wayland clipboard manager

# Listen for clipboard changes
[Service]
Type=simple
ExecStart=/usr/bin/env wl-paste --watch cliphist store
Restart=on-failure
