[Unit]
Description=Command to simulate input anywhere (X11, Wayland, TTYs)
Documentation=https://git.sr.ht/~geb/dotool/tree/HEAD/doc/dotool.1.scd

[Service]
Type=simple
ExecStart=/usr/local/bin/dotoold

[Install]
WantedBy=default.target
