# 1. Copy this to ~/.config/systemd/user/frpc.service
# 2. systemctl --user enable --now frpc

[Unit]
Description=frp client
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/frpc -c %h/.local/etc/frpc-%H.toml
StandardOutput=file:/tmp/frpc.stdout.log
StandardError=file:/tmp/frpc.stderr.log
Restart=on-failure
