# 1. Copy this to ~/.config/systemd/user/gost.service
# 2. systemctl --user enable --now gost

[Unit]
Description=GO Simple Tunnel
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/env gost -L http://:1081 -F socks5://:1080
StandardOutput=file:/tmp/gost.stdout.log
StandardError=file:/tmp/gost.stderr.log
Restart=on-failure
