# Like xremap, use autostart to start libinput-gestures
# curl -L https://raw.githubusercontent.com/bulletmark/libinput-gestures/refs/heads/master/libinput-gestures \
#   -o /usr/local/bin/libinput-gestures
[Unit]
Description=Actions gestures on your touchpad using libinput
Documentation=https://github.com/bulletmark/libinput-gestures

[Service]
Type=simple
ExecStart=-/usr/local/bin/libinput-gestures
StandardOutput=file:/tmp/libinput-gestures.stdout.log
StandardError=file:/tmp/libinput-gestures.stderr.log
Restart=always
