[Unit]
Description=My Scheduled Task

[Service]
ExecStart=%h/bin/mytask
StandardOutput=file:/tmp/mytask.stdout.log
StandardError=file:/tmp/mytask.stderr.log
