# https://github.com/k0kubun/xremap/blob/6e8e1f21285ecedfa7ac88d703ad80d25a2699dd/examples/systemd/xremap.service
# 0. cargo install xremap --features gnome
# 1. Copy this to ~/.config/systemd/user/xremap.service
# 2. systemctl --user enable --now xremap
# 3. journalctl -b --user -u xremap.service -f / systemctl --user status xremap

[Unit]
Description=Key remapper for Linux
Documentation=https://github.com/k0kubun/xremap

[Install]
# systemctl `--user` use default.target instead of multi-user.target
WantedBy=default.target

[Service]
KillMode=process
# Running xremap without sudo
ExecStart=%h/.cargo/bin/xremap %h/.config/xremap/config.yml --watch=config
ExecStop=/usr/bin/killall xremap
Restart=always
