# 0. cargo install xremap --features gnome
# 1. Copy this to ~/.config/systemd/user/xremap.service
# 2. Use ~/.config/autostart/xremap.desktop on desktop environment startup
#      - systemctl --user disable --now xremap
# 3. journalctl -b --user -u xremap.service -f / systemctl --user status xremap

[Unit]
Description=Key remapper for Linux
Documentation=https://github.com/xremap/xremap

[Service]
# sleep workaround from https://github.com/xremap/xremap/issues/105#issuecomment-1190994137
ExecStartPre=/usr/bin/sleep 1
# ~/.config/environment.d/90-aqua.conf
# Environment=AQUA_GLOBAL_CONFIG=%h/.config/aqua/aqua.yaml:%h/.config/aqua/sway.yaml:%h/.config/aqua/%H.yaml
# Environment=AQUA_POLICY_CONFIG=%h/.config/aqua/policy.yaml
# Running xremap without sudo
ExecStart=-%h/bin/xremap-launcher
StandardOutput=file:/tmp/xremap.stdout.log
StandardError=file:/tmp/xremap.stderr.log
Restart=always

MemoryHigh=8M
MemoryMax=16M
IPAddressDeny=any
