# man ssh_config

# `Include` must be before `Host`
Include ~/.ssh/config.d/local
Include ~/.ssh/config.d/remote

Host *
    ServerAliveInterval 60
    ServerAliveCountMax 30
    ForwardAgent        yes
    UserKnownHostsFile  ~/.ssh/known_hosts.d/%k

# SSH login without password
Host proxy-server
    # Replace with actual connection address
    HostName            1.1.1.1
    Port                2222
    User                root
    # Copy the contents of ~/.ssh/boxkey/id_rsa.pub to proxy-server:~/.ssh/authorized_keys
    # ssh-copy-id -i ~/.ssh/boxkey/id_rsa.pub proxy-server
    IdentityFile        ~/.ssh/boxkey/id_rsa

# SSH through a proxy
Host github.com
    Hostname            ssh.github.com
    Port                443
    User                git
    # Setup socks5 SSH tunnel
    # ssh -q -C -N -D 1080 proxy-server
    ProxyCommand        nc --proxy-type socks5 --proxy 127.0.0.1:1080 %h %p
    # ProxyCommand        ssh user@host -W %h:%p
    # ProxyJump           proxy-server

# ssh -p 8022 u0_a430@192.168.31.244
Host termux
    HostName            192.168.31.244
    Port                8022
    User                u0_a430
    IdentityFile        ~/.ssh/boxkey/id_rsa
    # AddKeysToAgent      yes

# /etc/ssh/ssh_config.d/20-systemd-ssh-proxy.conf
# Allow connecting to the local host directly via ".host"

# vim: ft=sshconfig :
