---

# Server Only

- name: Install ssh tunnel
  when:
    - ansible_distribution == "CentOS"
    - inventory_hostname == "sp"
  tags:
    - upgrade
    - sstunnel
  block:
    - name: Welcome to {{ ansible_distribution }}
      ansible.builtin.debug:
        msg: "Welcome to {{ ansible_distribution }} {{ ansible_distribution_version }}"

    - name: Auto-login to ss via ssh
      ansible.builtin.copy:
        src: ~/.ssh/boxkey/id_rsa
        dest: ~/.ssh/id_rsa
        mode: "0600"

    - name: Copy EnvironmentFile file
      ansible.builtin.copy:
        src: ~/.local/etc/EnvironmentFile
        dest: /usr/local/etc/EnvironmentFile
        mode: "0644"

    - name: Copy ss-ssh-tunnel.service file
      ansible.builtin.copy:
        src: ~/.local/etc/ss-ssh-tunnel.service
        dest: /etc/systemd/system/ss-ssh-tunnel.service
        mode: "0644"
      notify: Start and enable ss-ssh-tunnel
