root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.{go}]
indent_size = 4
indent_style = tab

[*.{md,rs,py,php,java}]
indent_size = 4
indent_style = space

[*.{sh,bash,zsh}]
indent_size = 4
indent_style = space

[*.{js,ts,jsx,tsx}]
indent_size = 2
indent_style = tab
quote_type = double

[*.{yml,yaml,css}]
indent_size = 2
indent_style = space

[*.{lua,vim}]
indent_size = 2
indent_style = space
