# 通过 bind -p 查看已绑定快捷键
#   查看已映射的 CTRL 键: bind -p | grep -F "\C"
# 通过 bind -V 查看已设置选项
#   查看 meta 键的设置: bind -V | grep meta
# Reload: <C-x><C-r>
# 使用 help bind 查看更多使用帮助
# 重新加载：bind -f ~/.inputrc
# 列出配置信息：bind -v

# 关于确认你的映射键 <C-v><key>：即在终端或者 Vim 中输入 <C-v>，然后输入任意一个键会看到对应的值
# 如 <C-v>回车，会得到 ^M

# Readline Init File Syntax
# @link http://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html#Readline-Init-File-Syntax
# Sample Init File
# @link http://www.gnu.org/software/bash/manual/html_node/Sample-Init-File.html#Sample-Init-File

$include /etc/inputrc
set editing-mode emacs
set bell-style none
#set editing-mode vi

$if bash
    # tab complete
    # TAB: menu-complete
    # # Shift-Tab
    # "\e[Z": menu-complete-backward

    # https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
    set completion-ignore-case On
    set show-all-if-ambiguous On
    set show-all-if-unmodified On
    set completion-prefix-display-length 3
    set mark-symlinked-directories On
    set visible-stats On
    set colored-stats On
    set mark-directories On
    set completion-query-items 300

    # <C-p> 向上搜索
    "\C-p": history-search-backward
    # <C-n> 向下搜索
    "\C-n": history-search-forward

$endif

# 可以尝试使用 inputrc 将 Linux 宿主机的终端的使用习惯映射为 Mac 终端的使用习惯
# PASTE
# "\C-v": paste-from-clipboard

# mysql 命令行的快捷键映射
# 通过 mysql -V 查看使用的使用的是 editline 还是 readline
# .editrc for libedit and .inputrc for readline.
# https://dev.mysql.com/doc/refman/5.6/en/mysql-tips.html#mysql-input-editing
$if mysql
    "\C-xd": "show databases;"
    "\C-xt": "show tables;"
    "\C-xs": "select * from "
$endif

