registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node
sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
electron_mirror=https://npmmirror.com/mirrors/electron
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries
python_mirror=https://npmmirror.com/mirrors/python
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors
puppeteer_download_host=https://npmmirror.com/mirrors
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt
cache=~/.cache/npm
