[Desktop Entry]
Type=Application
TryExec=neovide
Exec=neovide
# /usr/share/icons/hicolor/128x128/apps/nvim.png
Icon=nvim
Terminal=false
Categories=Utility;TextEditor;
Keywords=Text;editor;

Name=Neovide
GenericName=Text Editor
Comment=This is a simple, no-nonsense, cross-platform graphical user interface for Neovim
StartupWMClass=neovide
Actions=New;

[Desktop Action New]
Name=New Neovim
Exec=neovide
