---

- name: Install/Upgrade uv
  install-package:
    name: uv
    placeholders:
      repo: astral-sh/uv
    template: "{{ template.github.latest }}"
    archives:
      - uv-x86_64-unknown-linux-gnu.tar.gz
      - uv-aarch64-unknown-linux-gnu.tar.gz
      - uv-x86_64-apple-darwin.tar.gz
      - uv-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      - uv
      - uvx
    postinstall: |-
      uv --version
      uv python list --managed-python --only-installed
      uv python list --no-managed-python
      uv generate-shell-completion zsh >~/.local/share/zsh/site-functions/_uv
  tags:
    - uv


- name: Install zoxide
  install-package:
    name: zoxide
    placeholders:
      repo: ajeetdsouza/zoxide
      version: "{{ template.github.version_v }}"
    template: "{{ template.github.archive_v }}"
    archives:
      # The requested version number is "v0.9.8", but the archive name uses "0.9.8" without the "v".
      # https://github.com/ajeetdsouza/zoxide/releases/download/v0.9.8/zoxide-0.9.8-x86_64-unknown-linux-musl.tar.gz
      - zoxide-<version>-x86_64-unknown-linux-musl.tar.gz
      - zoxide-<version>-aarch64-unknown-linux-musl.tar.gz
      - zoxide-<version>-x86_64-apple-darwin.tar.gz
      - zoxide-<version>-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - zoxide
    postinstall: |-
      zoxide --version
  tags:
    - zoxide
    - zi


- name: Install fzf
  install-package:
    name: fzf
    placeholders:
      repo: junegunn/fzf
      version: "{{ template.github.version_v }}"
    template: "{{ template.github.archive_v }}"
    archives:
      # The requested version number is "v0.65.1", but the archive name uses "0.65.1" without the "v".
      # https://github.com/junegunn/fzf/releases/download/v0.65.1/fzf-0.65.1-linux_amd64.tar.gz
      - fzf-<version>-linux_amd64.tar.gz
      - fzf-<version>-linux_arm64.tar.gz
      - fzf-<version>-darwin_amd64.tar.gz
      - fzf-<version>-darwin_arm64.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - fzf
    postinstall: |-
      curl --create-dirs -L -o ~/.local/bin/fzf-tmux \
          ${GITHUB_PROXY}https://raw.githubusercontent.com/junegunn/fzf/refs/heads/master/bin/fzf-tmux
      curl --create-dirs -L -o ~/.local/share/man/man1/fzf.1 \
          ${GITHUB_PROXY}https://raw.githubusercontent.com/junegunn/fzf/refs/heads/master/man/man1/fzf.1
      curl --create-dirs -L -o ~/.local/share/man/man1/fzf-tmux.1 \
          ${GITHUB_PROXY}https://raw.githubusercontent.com/junegunn/fzf/refs/heads/master/man/man1/fzf-tmux.1
      chmod +x ~/.local/bin/fzf-tmux
      fzf --version
  tags:
    - fzf


- name: Install fd
  install-package:
    name: fd
    placeholders:
      repo: sharkdp/fd
      version: "{{ template.github.version }}"
    template: "{{ template.github.archive }}"
    archives:
      # https://github.com/sharkdp/fd/releases/download/v10.2.0/fd-v10.2.0-x86_64-unknown-linux-gnu.tar.gz
      - fd-<version>-x86_64-unknown-linux-gnu.tar.gz
      - fd-<version>-aarch64-unknown-linux-gnu.tar.gz
      - fd-<version>-x86_64-apple-darwin.tar.gz
      - fd-<version>-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      # fd-v10.2.0-x86_64-apple-darwin/fd
      - fd
    postinstall: |-
      curl --create-dirs -L -o ~/.local/share/man/man1/fd.1
            ${GITHUB_PROXY}https://raw.githubusercontent.com/sharkdp/fd/refs/heads/master/doc/fd.1
      curl --create-dirs -L -o ~/.local/share/zsh/site-functions/_fd \
            ${GITHUB_PROXY}https://raw.githubusercontent.com/sharkdp/fd/refs/heads/master/contrib/completion/_fd
      fd --version
  tags:
    - fd


- name: Install ripgrep
  install-package:
    name: ripgrep
    placeholders:
      repo: BurntSushi/ripgrep
      version: "{{ template.github.version }}"
    template: "{{ template.github.archive }}"
    archives:
      # https://github.com/BurntSushi/ripgrep/releases/download/14.1.1/ripgrep-14.1.1-x86_64-unknown-linux-musl.tar.gz
      - ripgrep-<version>-x86_64-unknown-linux-musl.tar.gz
      - ripgrep-<version>-aarch64-unknown-linux-gnu.tar.gz
      - ripgrep-<version>-x86_64-apple-darwin.tar.gz
      - ripgrep-<version>-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      # ripgrep-14.1.1-x86_64-apple-darwin/rg
      - rg
    postinstall: |-
      curl --create-dirs -L -o ~/.local/share/zsh/site-functions/_rg \
            ${GITHUB_PROXY}https://raw.githubusercontent.com/BurntSushi/ripgrep/refs/heads/master/crates/core/flags/complete/rg.zsh
      rg -V
  tags:
    - ripgrep
    - rg

- name: Install yazi
  install-package:
    name: yazi
    placeholders:
      repo: sxyazi/yazi
    template: "{{ template.github.latest }}"
    archives:
      - yazi-x86_64-unknown-linux-gnu.zip
      - yazi-aarch64-unknown-linux-gnu.zip
      - yazi-x86_64-apple-darwin.zip
      - yazi-aarch64-apple-darwin.zip
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      - yazi
      - ya
    postinstall: |-
      chmod +x ~/.local/bin/yazi
      chmod +x ~/.local/bin/ya
      yazi --version
  tags:
    - yazi

- name: Install jq
  install-package:
    name: jq
    placeholders:
      repo: jqlang/jq
    template: "{{ template.github.latest }}"
    archives:
      - jq-linux-amd64
      - jq-linux-arm64
      - jq-macos-amd64
      - jq-macos-arm64
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    # kernel=$(uname -s | tr '[:upper:]' '[:lower:]')
    # architecture=$(uname -m | tr '[:upper:]' '[:lower:]')
    postinstall: |-
      chmod +x $XDG_BIN_HOME/$PACKAGE_ARCHIVE_NAME
      mv $XDG_BIN_HOME/$PACKAGE_ARCHIVE_NAME $XDG_BIN_HOME/jq
      jq --version
  tags:
    - jq


- name: Install yq
  install-package:
    name: yq
    placeholders:
      repo: mikefarah/yq
    template: "{{ template.github.latest }}"
    archives:
      - yq_linux_amd64
      - yq_linux_arm64
      - yq_darwin_amd64
      - yq_darwin_arm64
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    postinstall: |-
      chmod +x $XDG_BIN_HOME/$PACKAGE_ARCHIVE_NAME
      mv $XDG_BIN_HOME/$PACKAGE_ARCHIVE_NAME $XDG_BIN_HOME/yq
      yq --version
  tags:
    - yq


- name: Install scc
  install-package:
    name: scc
    placeholders:
      repo: boyter/scc
    template: "{{ template.github.latest }}"
    archives:
      - scc_Linux_x86_64.tar.gz
      - scc_Linux_arm64.tar.gz
      - scc_Darwin_x86_64.tar.gz
      - scc_Darwin_arm64.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - scc
    postinstall: |-
      scc --version
  tags:
    - scc


- name: Install bat
  install-package:
    name: bat
    placeholders:
      repo: sharkdp/bat
      version: "{{ template.github.version }}"
    template: "{{ template.github.archive }}"
    archives:
      # https://github.com/sharkdp/bat/releases/download/v0.25.0/bat-v0.25.0-x86_64-unknown-linux-gnu.tar.gz
      - bat-<version>-x86_64-unknown-linux-gnu.tar.gz
      - bat-<version>-aarch64-unknown-linux-gnu.tar.gz
      - bat-<version>-x86_64-apple-darwin.tar.gz
      - bat-<version>-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      - bat
    postinstall: |-
      bat --completion zsh >~/.local/share/zsh/site-functions/_bat
      bat --version
  tags:
    - bat


- name: Install bottom
  install-package:
    name: bottom
    placeholders:
      repo: ClementTsang/bottom
    template: "{{ template.github.latest }}"
    archives:
      - bottom_x86_64-unknown-linux-gnu.tar.gz
      - bottom_aarch64-unknown-linux-gnu.tar.gz
      - bottom_x86_64-apple-darwin.tar.gz
      - bottom_aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - btm
    postinstall: |-
      btm --version
  tags:
    - bottom
    - btm


- name: Install dua
  install-package:
    name: dua
    placeholders:
      repo: Byron/dua-cli
      version: "{{ template.github.version }}"
    template: "{{ template.github.archive }}"
    archives:
      # https://github.com/Byron/dua-cli/releases/download/v2.31.0/dua-v2.31.0-x86_64-unknown-linux-musl.tar.gz
      - dua-<version>-x86_64-unknown-linux-musl.tar.gz
      - dua-<version>-aarch64-unknown-linux-musl.tar.gz
      - dua-<version>-x86_64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      - dua
    postinstall: |-
      dua --version
  tags:
    - dua


- name: Install duf
  install-package:
    name: duf
    placeholders:
      repo: muesli/duf
      version: "{{ template.github.version_v }}"
    template: "{{ template.github.archive_v }}"
    archives:
      # The requested version number is "v0.8.1", but the archive name uses "0.8.1" without the "v".
      # https://github.com/muesli/duf/releases/download/v0.8.1/duf_0.8.1_linux_x86_64.tar.gz
      - duf_<version>_linux_x86_64.tar.gz
      - duf_<version>_linux_arm64.tar.gz
      - duf_<version>_Darwin_x86_64.tar.gz
      - duf_<version>_Darwin_arm64.tar.gz
    include:
      - duf
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    postinstall: |-
      duf --version
  tags:
    - duf


- name: Install fastfetch
  install-package:
    name: fastfetch
    placeholders:
      repo: fastfetch-cli/fastfetch
    template: "{{ template.github.latest }}"
    archives:
      - fastfetch-linux-amd64.tar.gz
      - fastfetch-linux-aarch64.tar.gz
      - fastfetch-macos-amd64.tar.gz
      - fastfetch-macos-aarch64.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 2
    include:
      # fastfetch-macos-amd64/usr/bin/fastfetch
      - bin/fastfetch
    postinstall: |-
      fastfetch --version
  tags:
    - fastfetch


- name: Install difftastic
  install-package:
    name: difftastic
    placeholders:
      repo: Wilfred/difftastic
    template: "{{ template.github.latest }}"
    archives:
      - difft-x86_64-unknown-linux-gnu.tar.gz
      - difft-aarch64-unknown-linux-gnu.tar.gz
      - difft-x86_64-apple-darwin.tar.gz
      - difft-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - difft
    postinstall: |-
      difft -V
  tags:
    - difftastic
    - difft


- name: Install git-delta
  install-package:
    name: git-delta
    placeholders:
      repo: dandavison/delta
      version: "{{ template.github.version }}"
    template: "{{ template.github.archive }}"
    archives:
      # https://github.com/dandavison/delta/releases/download/0.18.2/delta-0.18.2-x86_64-unknown-linux-gnu.tar.gz
      - delta-<version>-x86_64-unknown-linux-gnu.tar.gz
      - delta-<version>-aarch64-unknown-linux-gnu.tar.gz
      - delta-<version>-x86_64-apple-darwin.tar.gz
      - delta-<version>-aarch64-apple-darwin.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      - delta
    postinstall: |-
      delta --version
  tags:
    - git-delta
    - delta
    - git


- name: Install go-task
  install-package:
    name: go-task
    placeholders:
      repo: go-task/task
    template: "{{ template.github.latest }}"
    archives:
      - task_linux_amd64.tar.gz
      - task_linux_arm64.tar.gz
      - task_darwin_amd64.tar.gz
      - task_darwin_arm64.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    include:
      - task
    postinstall: |-
      task --version
  tags:
    - go-task
    - task


# rename, remove, and copy files and directories using your editor
- name: Install edir
  install-package:
    name: edir
    install: |-
      if which uv >/dev/null 2>&1; then
          uv tool install --upgrade edir --force
      else
          python3 -m ensurepip --upgrade --user
          python3 -m pip install --upgrade --user edir
      fi
    postinstall: |-
      edir --version
  tags:
    - edir


- name: Install plantuml
  when: ansible_system == "Linux"
  install-package:
    name: plantuml
    placeholders:
      repo: plantuml/plantuml
    template: "{{ template.github.latest }}"
    archives:
      - plantuml.jar
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
  tags:
    - plantuml


- name: Install crush
  install-package:
    name: crush
    placeholders:
      repo: charmbracelet/crush
      version: "{{ template.github.version_v }}"
    template: "{{ template.github.archive_v }}"
    archives:
      # The requested version number is "v0.10.0", but the archive name uses "0.10.0" without the "v".
      # https://github.com/charmbracelet/crush/releases/download/v0.10.0/crush_0.10.0_Linux_x86_64.tar.gz
      - crush_<version>_Linux_x86_64.tar.gz
      - crush_<version>_Linux_arm64.tar.gz
      - crush_<version>_Darwin_x86_64.tar.gz
      - crush_<version>_Darwin_arm64.tar.gz
    dst: $XDG_BIN_HOME # defaults to $XDG_BIN_HOME
    strip: 1
    include:
      # crush_0.10.0_Linux_x86_64/crush
      - crush
    postinstall: |-
      crush --version
  tags:
    - crush

# Compatible with Linux command parameters
- name: Install GNU utils for macOS
  when: ansible_system == "Darwin"
  environment: "{{ brew_environment }}"
  ansible.builtin.shell: |-
    set -o pipefail
    brew install \
        bash-completion@2 \
        zsh-completions \
        bash \
        gnu-getopt \
        grep \
        gnu-tar \
        gnu-sed \
        gnu-time \
        gnu-which \
        binutils \
        coreutils \
        diffutils \
        findutils \
        inetutils \
        gawk \
        pstree \
        tree \
        less \
        wget
  changed_when: false
