# 1. Copy this to ~/.config/systemd/user/frpc.service
# 2. systemctl --user enable --now frpc

[Unit]
Description=frpc tunnel
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/frpc -c /usr/local/etc/frpc-tunnel.toml
Restart=on-failure
User=nobody
Group=nobody
