/* vim: set filetype=rasi: */
/******************************************************************************
 * Defining GTK3 CSS variables
 ******************************************************************************/

/* 颜色变量定义 */
@define-color main-background #21252d;
@define-color main-foreground #eaeaea;
@define-color secondary-background #2e3440;

@define-color urgent-background #df6566;
@define-color selected-background #cfabe0;

@define-color green-color #497e7a;
@define-color darkred-color #8c3336;

@define-color term-background #07090c;
