@theme "nightfall-blue"

configuration {
    show-icons: true;
    combi-hide-mode-prefix: true;
    display-combi: "󰕘 Combi";
    display-drun: "󰀻 Apps";
    window-format: "{c} · {t}";
}

// inputbar {
//     children: [ prompt, entry, num-filtered-rows, textbox-num-sep, num-rows ];
// }
