# https://docs.ansible.com/ansible/latest/reference_appendices/config.html

[defaults]
inventory=~/.ansible/inventory
host_key_checking=False
interpreter_python=/usr/bin/python3
callback_plugins=~/.ansible/plugins/callback
library=~/.ansible/plugins/modules

[privilege_escalation]
become_method=sudo
