---

# Server Only


- name: Systemctl daemon reload
  # noqa command-instead-of-module
  ansible.builtin.command: systemctl daemon-reload
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable shadowsocks-rust-server service
  # noqa command-instead-of-module
  # ansible.builtin.command: systemctl --user enable --now shadowsocks-rust-server
  ansible.builtin.shell: |-
    systemctl daemon-reload
    SERVICE_NAME="shadowsocks-rust-server.service"
    if systemctl is-active --quiet "$SERVICE_NAME"; then
        systemctl restart "$SERVICE_NAME"
    else
        systemctl enable --now "$SERVICE_NAME"
    fi
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable nginx
  # noqa command-instead-of-module
  ansible.builtin.shell: |-
    systemctl daemon-reload
    systemctl enable --now nginx
    # systemctl show -p MainPID --value "$SERVICE_NAME"
    nginx -s reload
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable ss-ssh-tunnel
  # noqa command-instead-of-module
  ansible.builtin.shell: |-
    systemctl daemon-reload
    SERVICE_NAME="ss-ssh-tunnel.service"
    if systemctl is-active --quiet "$SERVICE_NAME"; then
        systemctl restart "$SERVICE_NAME"
    else
        systemctl enable --now "$SERVICE_NAME"
    fi
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable frps and frpc-tunnel
  # noqa command-instead-of-module
  ansible.builtin.shell: |-
    systemctl daemon-reload

    SERVICE_NAME="frps.service"
    if systemctl is-active --quiet "$SERVICE_NAME"; then
        systemctl restart "$SERVICE_NAME"
    else
        systemctl enable --now "$SERVICE_NAME"
    fi

    if [[ ! -x /usr/local/bin/frpc ]]; then
        exit 0
    fi

    SERVICE_NAME="frpc-tunnel.service"
    if systemctl is-active --quiet "$SERVICE_NAME"; then
        systemctl restart "$SERVICE_NAME"
    else
        systemctl enable --now "$SERVICE_NAME"
    fi
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable caddy server
  # noqa command-instead-of-module
  ansible.builtin.shell: |-
    systemctl daemon-reload
    SERVICE_NAME="caddy.service"
    if systemctl is-active --quiet "$SERVICE_NAME"; then
        systemctl restart "$SERVICE_NAME"
    else
        systemctl enable --now "$SERVICE_NAME"
    fi
  changed_when: false
  when: ansible_distribution == "CentOS"
