---

# Server Only

- name: Start and enable shadowsocks-rust-server service
  # noqa command-instead-of-module
  # ansible.builtin.command: systemctl --user enable --now shadowsocks-rust-server
  ansible.builtin.command: systemctl enable --now shadowsocks-rust-server
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable nginx
  # noqa command-instead-of-module
  ansible.builtin.command: systemctl enable --now nginx
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable ss-ssh-tunnel
  # noqa command-instead-of-module
  ansible.builtin.command: systemctl enable --now ss-ssh-tunnel.service
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable frps and frpc-tunnel
  # noqa command-instead-of-module
  ansible.builtin.shell: |-
    systemctl enable --now frps.service
    if [[ -x /usr/local/bin/frpc ]]; then
        systemctl enable --now frpc-tunnel.service
    fi
  changed_when: false
  when: ansible_distribution == "CentOS"

- name: Start and enable caddy server
  # noqa command-instead-of-module
  ansible.builtin.command: systemctl enable --now caddy.service
  changed_when: false
  when: ansible_distribution == "CentOS"
