---

- name: Install caddy server
  tags:
    - caddy
  block:
    - name: Ensure caddy is installed
      ansible.builtin.shell: |-
        if ! id caddy >/dev/null 2>&1; then
          groupadd --system caddy
          useradd --system \
            --gid caddy \
            --create-home \
            --shell /usr/sbin/nologin \
            --comment "Caddy web server" \
            caddy
        fi
        id caddy
      changed_when: false

    - name: Check if caddy file exists
      ansible.builtin.stat:
        path: /usr/local/bin/caddy
      register: caddy_bin_check

    - name: Download caddy with waf
      ansible.builtin.get_url:
        url: "https://caddyserver.com/api/download?os=linux&arch=amd64&p=github.com%2Fcorazawaf%2Fcoraza-caddy%2Fv2"
        dest: /usr/local/bin/caddy
        mode: '0755'
      when: not caddy_bin_check.stat.exists

    - name: Copy caddy.service file
      ansible.builtin.copy:
        src: ~/.config/systemd/system/caddy.service
        dest: /etc/systemd/system/caddy.service
        mode: "0644"
      register: caddy_service_copy_result  # Register the result to a variable

    - name: Copy Caddyfile file
      ansible.builtin.copy:
        src: ~/.local/etc/Caddyfile.waf
        dest: /usr/local/etc/Caddyfile
        mode: "0644"
      register: caddyfile_copy_result  # Register the result to a variable

    - name: Ensure caddy service is running and enabled
      ansible.builtin.systemd_service:
        name: caddy
        state: started
        enabled: true

    - name: Reload caddy
      ansible.builtin.systemd_service:
        name: caddy
        state: reloaded
        daemon_reload: true
      when: (caddy_service_copy_result.changed) or (caddyfile_copy_result.changed)
