# Alacritty 0.14.0+
# https://alacritty.org/config-alacritty.html

[general]
live_config_reload = true

[env]
TERM = "xterm-256color"
# Ensure tmux can be found for terminal.shell.program
PATH = "/opt/local/bin:/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin"
# ZSH_PROFILE_STARTUP = "true"

[terminal.shell]
program = "tmux"
args = ["new-session", "-A", "-s", "TERM"]
# program = "zsh"
# args = ["--login"]

[selection]
save_to_clipboard = true

[window]
decorations = "none"
padding = { x = 2, y = 1 }
dynamic_padding = true
opacity = 1.0
startup_mode = "Maximized"

[cursor.style]
shape = "Beam"

[colors]
draw_bold_text_with_bright_colors = true

[colors.primary]
background = "#07090c" # dark
foreground = "#eaeaea"
dim_foreground = "#4d5770"

# Named ANSI colors [0-7]
[colors.normal]
black   = "#07090c" # black: #0d1117
red     = "#df6566"
green   = "#c5d15c"
yellow  = "#ecce58"
blue    = "#a8c7fa"
magenta = "#cfabe0"
cyan    = "#81cabf"
white   = "#eaeaea"

# Named ANSI colors [8-15]
[colors.bright]
black   = "#4d5770" # gray
red     = "#d54e53"
green   = "#b9ca4a"
yellow  = "#e6c547"
blue    = "#7aa6da"
magenta = "#c397d8"
cyan    = "#70c0ba"
white   = "#ffffff"

[colors.dim]
black   = "#0d1117" # darkgray: #21252d #2e3440
red     = "#8c3336"
green   = "#7a8530"
yellow  = "#97822e"
blue    = "#506d8f"
magenta = "#80638e"
cyan    = "#497e7a"
white   = "#778899"

[font]
normal = { family = "SauceCodePro Nerd Font", style = "Regular" }
# macOS: 12.25
# GNOME:
#   - Displays Scale 150 % -> 12.25
#       -  Chrome: Appearance Page zoom -> 125 %
#       - Firefox: General Default zoom -> 120 %
#   - Displays Scale 175 % -> 10.50
size = 11.25

offset = { x = 0, y = 6 }
glyph_offset = { x = 0, y = 0 }

[keyboard]
bindings = [
    { key = "C",           mods = "Super",         action = "Copy"             },
    { key = "V",           mods = "Super",         action = "Paste"            },
    { key = "M",           mods = "Super",         action = "Hide"             },
    { key = "Q",           mods = "Super",         action = "Quit"             },
    { key = "F",           mods = "Super|Control", action = "ToggleFullscreen" },
    { key = "Key0",        mods = "Super",         action = "ResetFontSize"    },
    { key = "Equals",      mods = "Super",         action = "IncreaseFontSize" },
    { key = "Minus",       mods = "Super",         action = "DecreaseFontSize" },

    # >>> tmux shortcuts: prefix Alt-s \u001Bs
    # Use tmux as a normal application, `tmux session` as `window`, and `tmux window` as `tab`
    { key = "R",           mods = "Super",         chars = "\u001Bsr"          }, # Tmux: Reload Config
    { key = "R",           mods = "Super|Shift",   chars = "\u001BsR"          }, # Client: Refresh
    { key = "D",           mods = "Super|Shift",   chars = "\u001Bsd"          }, # Client: Detach
    { key = "N",           mods = "Super",         chars = "\u001Bsn"          }, # Session: New
    { key = "N",           mods = "Super|Shift",   chars = "\u001BsN"          }, # Session: reName
    # Session Explorer: choose number, hljk move or search
    { key = "E",           mods = "Super|Shift",   chars = "\u001BsE"          }, # Session: Overview
    { key = "i",           mods = "Super",         chars = "\u001Bsi"          }, # Window: Info
    { key = "T",           mods = "Super",         chars = "\u001Bst"          }, # Window: New
    # { key = "T",           mods = "Super|Shift",   chars = "\u001BsT"          }, # Window: Reopen closed windows
    { key = "W",           mods = "Super",         chars = "\u001Bsw"          }, # Window: Close
    { key = "W",           mods = "Super|Shift",   chars = "\u001BsW"          }, # Window: Close other windows
    { key = "Tab",         mods = "Control",       chars = "\u001Bs]"          }, # Window: Next
    { key = "Tab",         mods = "Control|Shift", chars = "\u001Bs["          }, # Window: Previous
    # https://github.com/alacritty/alacritty/issues/7604#issuecomment-1886539740
    { key = ">",           mods = "Super|Shift",   chars = "\u001Bs]"          }, # Window: Next
    { key = "<",           mods = "Super|Shift",   chars = "\u001Bs["          }, # Window: Previous
    { key = "}",           mods = "Super|Shift",   chars = "\u001Bs}"          }, # Window: Move Window Right
    { key = "{",           mods = "Super|Shift",   chars = "\u001Bs{"          }, # Window: Move Window Left
    { key = ".",           mods = "Super",         chars = "\u001Bs."          }, # Window: Last active
    { key = "_",           mods = "Super|Shift",   chars = "\u001Bs_"          }, # Window: Vertical Split
    { key = "+",           mods = "Super|Shift",   chars = "\u001Bs+"          }, # Window: Horizontal Split
    { key = "'",           mods = "Super",         chars = "\u001Bs'"          }, # Pane: Last active
    { key = "\"",          mods = "Super|Shift",   chars = "\u001Bs\""         }, # Pane: Synchronize Toggle
    { key = "Z",           mods = "Super",         chars = "\u001Bsz"          }, # Pane: Zoom
    { key = "X",           mods = "Super",         chars = "\u001Bsx"          }, # Pane: Close
    { key = "X",           mods = "Super|Shift",   chars = "\u001BsX"          }, # Pane: Close other panes
    { key = "|",           mods = "Super|Shift",   chars = "\u001Bs|"          }, # Pane: Evenly Layout
    # See: ~/bin/sway-tmux-layout
    { key = "\\",          mods = "Super",         chars = "\u001Bs\\"         }, # Pane: Next Layout
    # Switching panes in Tmux is like switching containers in Sway
    # See: ~/bin/sway-tmux-navigation
    { key = "H",           mods = "Super",         chars = "\u001Bsh"          }, # Pane: Force Left
    { key = "J",           mods = "Super",         chars = "\u001Bsj"          }, # Pane: Force Down
    { key = "K",           mods = "Super",         chars = "\u001Bsk"          }, # Pane: Force Up
    { key = "L",           mods = "Super",         chars = "\u001Bsl"          }, # Pane: Force Right
    { key = "Escape",      mods = "Super",         chars = "\u001Bs\u001B"     }, # Mode: Copy Mode vi
    { key = ":",           mods = "Super|Shift",   chars = "\u001Bs:"          }, # Mode: Command mode
    { key = "/",           mods = "Super",         chars = "\u001Bs/"          }, # Search: in copy mode
    { key = "F",           mods = "Super",         chars = "\u001Bs/"          }, # Search: in copy mode
    { key = "?",           mods = "Super|Shift",   chars = "\u001Bs?"          }, # Help: List key bindings
    { key = "p",           mods = "Super",         chars = "\u001Bsp"          }, # Paste Buffer
    { key = "1",           mods = "Super",         chars = "\u001Bs1"          }, # Window: 1
    { key = "2",           mods = "Super",         chars = "\u001Bs2"          }, # Window: 2
    { key = "3",           mods = "Super",         chars = "\u001Bs3"          }, # Window: 3
    { key = "4",           mods = "Super",         chars = "\u001Bs4"          }, # Window: 4
    { key = "5",           mods = "Super",         chars = "\u001Bs5"          }, # Window: 5
    { key = "6",           mods = "Super",         chars = "\u001Bs6"          }, # Window: 6
    { key = "7",           mods = "Super",         chars = "\u001Bs7"          }, # Window: 7
    { key = "8",           mods = "Super",         chars = "\u001Bs8"          }, # Window: 8
    { key = "9",           mods = "Super",         chars = "\u001Bs9"          }, # Window: Rightmost
    # <<< tmux shortcuts: prefix Alt-s \u001Bs

    # fixed: CTRL-Q needs to be pressed twice to register in macOS
    # https://github.com/alacritty/alacritty/issues/1359
    { key = "Q",           mods = "Control",       chars = "\u0011"            },
    # https://github.com/alacritty/alacritty/issues/3014
    { key = "Slash",       mods = "Control",       chars = "\u001F"            }
]
